/* 아래에서 .target-box, .target-box:hover, @keyframes slide-left-to-right 를 채워 주세요!*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

.container {
    width: 960px;
    margin: 100px auto;
    background-color: #efeff6;
    padding: 50px;
    display: flex;
    align-items: center;
}


/* 아래의 빈 칸들을 지시사항에 따라 채워 주세요*/

.target-box {
    background-color: greenyellow;
    width: 200px;
    height: 200px;
    text-align: center;
    padding-top: 50px;

    transition-property: background-color;
    transition-duration: 3s;
    transition-timing-function: ease;
    transition-delay: 0.5s;

    animation-name: slide-left-to-right;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.target-box:hover {
    background-color: green;
    width: 400px;
    height: 400px;
}

@keyframes slide-left-to-right {
    from {
        margin-left: 0%;
    }

    to {
        margin-left: 90%;
    }

}